<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/user/updateUser}" method="post">
    <input type="hidden" name="userid" th:value="${user.id}">
    <input type="text" name="username" th:value="${user.username}"><br>
    <input type="text" name="password"><br>
    <input type="submit" value="更新"><br>
</form>
</body>
</html>