<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
显示用户列表 页面

<table border="1" align="center" width="50%">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Age</th>
        <th>操作</th>
    </tr>
    <tr th:each="u : ${list}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.password}"></td>
        <td th:text="${u.userage}"></td>
        <td>
            <a th:href="@{/user/preUpdateUser2(id=${u.id})}">修改</a>
            <a th:href="@{/user/delUser(id=${u.id})}">删除</a>
        </td>
    </tr>
</table>

</body>
</html>