<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf</title>
</head>
<body>
<h1>number 1  </h1>
<span th:text="vitas">vitas哥哥</span>
<hr/>
<span th:text="${msg}"></span>
<hr/>
<input type="text"  th:value="${msg}"/>
<hr/>
判断变量是否为空
<span th:text="${#strings.isEmpty(msg)}"></span>
<hr/>
判断字符串是否包含某子串
<span th:text="${#strings.contains(msg,'Hello')}"></span>
<hr/>
判断字符串长度
<span th:text="${#strings.length(msg)}"></span>

<hr/>
日期
<span th:text="${#dates.format(date)}"></span>
</body>
</html>