<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf</title>
</head>
<body>
<h1>number 1  </h1>
<span th:text="vitas">vitas哥哥</span>
<hr/>
<span th:text="${msg}"></span>
<hr/>
<input type="text"  th:value="${msg}"/>
<hr/>
判断变量是否为空
<span th:text="${#strings.isEmpty(msg)}"></span>
<hr/>
判断字符串是否包含某子串
<span th:text="${#strings.contains(msg,'Hello')}"></span>
<hr/>
判断字符串长度
<span th:text="${#strings.length(msg)}"></span>

<hr/>
年
<span th:text="${#dates.year(date)}"></span>

<hr/>
月
<span th:text="${#dates.month(date)}"></span>

<hr/>
日
<span th:text="${#dates.day(date)}"></span>


<h1>条件判断</h1>
<div>
    <span th:if="${sex} == '1'">男</span>
    <span th:if="${sex} == '0'">女</span>
</div>

switch
<div th:switch="${id}">
    <span th:case="1"> ID为1 </span>
    <span th:case="2"> ID为2 </span>
    <span th:case="3"> ID为3 </span>
    <span th:case="*"> 这是默认ID </span>
</div>


</body>
</html>